.d1{
    background-color: whitesmoke;
    margin-left: 500px;
    margin-top: 100px;
    height: 200px;
    width: 215px;
    /* border: solid 1px black; */
}
h3{
    margin-left: 63px;
}
#t1{
    margin-left: 6px;
}